<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui">
    <title>emojiGo</title>
    <link   rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css"></link>
    <link   rel="stylesheet" href="__PUBLIC__/css/test.css"></link>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.emoji.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          $('#body').each(function(i, d){
            $(d).emoji();
          });
        });
        $(document).ready(function(){
    getMessageCount();
    eventCount();
    if(uid) {
        var data = {name:localStorage.name, uid:localStorage.uid};

        $.post("../home/event/getLocalStorage",data);

        setOnline();
    }else{
        var data = {};
        $.post("../home/event/getLocalStorage",data);
    }
});


    </script>

</head>
    <body id="body">

        <div data-role="page" id="pageone">

            <div data-role="header">
                <h1>emojiGo</h1>
            </div>
            <span id="user" style="position: absolute;top: 12px;left: 9px; display: none"></span>

            <include file="Event:event" />
            
            <include file="Event:comment"/>

        </div>
            <div data-role="page" id="pagetwo">
                <div data-role="header">
                    <a href="#pageone" class="ui-btn ui-icon-carat-l ui-btn-icon-notext ui-corner-all">Icon only</a>
                    <h1>emojiGo</h1>
                </div>
            <div>

                <include file="Event:event" />
                <input type="text" id="name" placeholder="输入昵称" oninput="" data-corners="false">
                <textarea cols="40" rows="8" name="textarea" oninput="showbutton(content)" placeholder="输入这段Emoji的含义" data-corners="false" id="content"></textarea>

                <a href="#pageone"  id="sendcomment" data-transition="fade" onclick="sendcomment()" class="ui-btn" style="display: none;">发送</a>

            </div>

        </div>
            
        <include file="Public:foot-js"/>



    </body>

    <script type="text/javascript">        
 
    $(document).ready(function() {
    

    window.onscroll = function() {
    var p = document.getElementById("1");
    var h = p.offsetTop;
    var y = window.scrollY;
        if (y > h) {
            $("#event-mini").fadeIn();
        }else{
            $("#event-mini").fadeOut();

        };
    }
});

    </script>


</html>